.space {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #080417;
  background: linear-gradient(to top left, #493d6f, #080417);
}

.moon {
  background: #d8d8d8;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: inset -12px -12px 0 0 #b6b6b6;
  position: relative;
}

.crater {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-160%, -70%);
          transform: translate(-160%, -70%);
  width: 21%;
  height: 21%;
  background-color: #b6b6b6;
  box-shadow: inset 4px 4px 0 0 #999;
  border-radius: 50%;
}
.crater:nth-child(2) {
  -webkit-transform: translate(10%, -140%) scale(0.7);
          transform: translate(10%, -140%) scale(0.7);
}
.crater:nth-child(3) {
  -webkit-transform: translate(10%, 30%) scale(0.5);
          transform: translate(10%, 30%) scale(0.5);
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
          transform: translate3d(-50%, -50%, 0) rotate(0deg);
  width: 11.7rem;
  height: 11.7rem;
  z-index: 10;
  -webkit-animation: orbit 4s cubic-bezier(0, 0, 0.5, 1) forwards;
          animation: orbit 4s cubic-bezier(0, 0, 0.5, 1) forwards;
}

.rocket {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-animation: landing 1.6s cubic-bezier(0.42, 0, 0.55, 1) 2.5s forwards;
          animation: landing 1.6s cubic-bezier(0.42, 0, 0.55, 1) 2.5s forwards;
}
.rocket::before {
  content: '';
  position: absolute;
  top: -0.3157894737rem;
  right: -0.3157894737rem;
  border: 8px solid transparent;
  border-radius: 100% 0 100% 50%;
  border-left-color: #e07575;
  border-bottom-color: #e07575;
}
.rocket::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #eee;
  border-radius: 100% 0 100% 0;
}

@-webkit-keyframes orbit {
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-345deg);
            transform: translate3d(-50%, -50%, 0) rotate(-345deg);
  }
}

@keyframes orbit {
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-345deg);
            transform: translate3d(-50%, -50%, 0) rotate(-345deg);
  }
}
@-webkit-keyframes landing {
  100% {
    -webkit-transform: translate3d(140%, 140%, 0) rotate(90deg);
            transform: translate3d(140%, 140%, 0) rotate(90deg);
  }
}
@keyframes landing {
  100% {
    -webkit-transform: translate3d(140%, 140%, 0) rotate(90deg);
            transform: translate3d(140%, 140%, 0) rotate(90deg);
  }
}
